<nav class="navbar is-info has-background-link-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <i class="fas fa-angle-double-right  is-large ">Hoptimist</i>
      </a>
      
        </div>
      </div>  
    </div>
  </nav>
 <br>