<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong> <i class="fas fa-angle-double-right"></i> Hoptimists </strong> by
      Corey Essig and Rodrigo Marrón
    </p>
  </div>
</footer>
