<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:4000/breweries">
        <i class="fas fa-angle-double-right  is-large ">Hoptimist</i>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div> 
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/breweries" class="navbar-item">
          All Breweries
        </a>
        <a href="/breweries/new" class="navbar-item">
          New Brewery
        </a>
        <a href="/beers" class="navbar-item">
          All Beers
        </a>
        <a href="/beers/new" class="navbar-item">
          New Beer
        </a>
        </div>
      </div>  
    </div>
  </nav>