<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <script src="/public/scripts/app.js" defer></script>
    <title>Edit Beer</title>
  </head>
  <!-- Nav Bar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:4000/breweries">
        <i class="fas fa-angle-double-right  is-large "></i>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          Brewery List
        </a>
  
        <a class="navbar-item">
          About Us
        </a>
          </a>
        </div>
      </div>
  
    </div>
  </nav>
  <!-- Body -->
  <body>
    <header>
      <nav>
        <h1>Welcome to The Hoptimists</h1>
        <ul>
          <li>
            <a href="/beers">Home</a>
          </li>
          <li>
            <a href="/beers">Back to beers</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Edit <%= beer.name %></h2>
      <form action="/beers/<%= beer._id%>?_method=PUT" method="POST">
        <input type="text" name="name" placeholder="Beer Name" /> <br />
        <input type="text" name="style" placeholder="Beer Style" /> <br />
        <input type="text" name="notes" placeholder="Tasting Notes" /> <br />
        <input type="number" name="rating" placeholder="Rating (1-10)" /> <br />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
