<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <script src="/public/scripts/app.js" defer></script>
    <title>Hoptimists | Beers</title>
  </head>
  <body>
    <nav>
      <h1>Welcome to The Hoptimists</h1>
      <ul>
        <li>
          <a href="/breweries">Breweries</a>
        </li>
        <li>
          <a href="/beers/new"> Add a beer</a>
        </li>
      </ul>
    </nav>
    <main>
      <h2>List of Beers</h2>
      <ul>
        <% beers.forEach(beer => { %>
        <li>
          <a href="/beers/<%= beer._id %>"> <%= beer.name %> </a>
        </li>
        <% }) %>
      </ul>
      <% if(beers.length === 0) { %>
      <p>
        There are no beers yet! Be the first to share what beer you are having
        and what you think of it.
      </p>
      <% }%>
    </main>
  </body>
</html>
