<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <script src="/public/scripts/app.js" defer></script>
    <title>New beer</title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>
  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-1">Create a New Beer</h1>
            <h2 class="title is-4">placeholder</h2>
          </nav>
        </div>
      </div>
    </section>
  </header>
  <!-- Body -->
<body>
<nav>
<h1>The Hoptimists</h1>
<h3>
  <a href="/breweries">Back to the Breweries</a>
    </h3>
      </nav>
          <main>
          </div class="control">
          
            <form action="/beers" method="POST">
            <input class="input is-success" type="text" name="name" placeholder="Beer Name" /> <br />
            <input  class="input is-success" type="text" name="style" placeholder="Beer Style" /> <br />
            <input class="input is-success" type="text" name="notes" placeholder="Tasting Notes" /> <br />
            <input class="input is-success" type="number" name="rating" placeholder="Rating (1-10)" /> <br />
            </div>
            <div class="field">
              <p>
                <label class="label">Select a Brewery</label>
                <div class="control">
                    <div class="select is-danger">
              <select name="brewery">
                <option default>Select a Brewery</option>
                <% breweries.forEach(brewery => { %>
                <option value="<%= brewery._id %>"><%= brewery.name %></option>
                <% }) %>
              </select>
                  </div>
                </div>
              </div>
              <div class="control">
              <button class="button is-link">Create Beer</button>
            </div>
            </p>
        </form>
      </main>
    </body>
    
  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
