<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <script src="/public/scripts/app.js" defer></script>
    <title>Tell us what brewery you are at!</title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>
  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-1">New Brewery</h1>
            <h2 class="title is-4">placeholder</h2>
          </nav>
        </div>
      </div>
    </section>
  </header>
  <!-- Body -->
  <body>
    <nav>
      <h1>The Hoptimists</h1>
      <ul>
        <li>
          <a href="/breweries">Back to Breweries List</a>
        </li>
        <li>
          <a href="/beers">Beers</a>
        </li>
      </ul>
    </nav>
    <main>
      <form action="/breweries" method="POST">
        <input type="text" name="name" placeholder="Brewery Name" /> <br />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
