<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <script src="/public/scripts/app.js" defer></script>
    <title>Tell us what brewery you are at!</title>
  </head>
  <body>
    <nav>
      <h1>The Hoptimists</h1>
      <ul>
        <li>
          <a href="/breweries">Back to Breweries List</a>
        </li>
        <!-- <li>
          <a href="/beers">Beers</a>
        </li> -->
      </ul>
    </nav>
    <main>
      <form action="/breweries" method="POST">
        <input type="text" name="name" placeholder="Brewery Name" /> <br />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
