<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title>Hoptimist | New Brewery</title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>

  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-2">New Brewery</h1>
          </nav>
        </div>
      </div>
    </section>
  </header>

  <!-- Body -->
  <body>
    <main>
      
      <!-- Form -->
      <br>
      <label class="label">What Brewery do you want to add:</label>
      </div class="control">
        <form action="/beers" method="POST">
        <input class="input is-dark" type="text" name="name" placeholder="Beer Name" /> <br />
        </div>
    </main>
  </body>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
