<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head-links.ejs') -%>
    <title>Tell us what brewery you are at!</title>
  </head>

  <!-- Nav Bar -->
  <%- include('../partials/navbar.ejs') -%>
  <!-- Hero -->
  <header class="is-family-monospace">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <nav>
            <h1 class="title is-1">New Brewery</h1>
            <h2 class="title is-4">placeholder</h2>
          </nav>
        </div>
      </div>
    </section>
  </header>
  <!-- Body -->
  <body>
    <main>
      <!-- Form -->
      <form action="/breweries" method="POST">
        <input type="text" name="name" placeholder="Brewery Name" /> <br />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') -%>
</html>
